*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    background-size: cover;
}

#main{
    width: 30%;
    height: 500px;
    background: white;
    text-align: center;
    float: left;
    margin: 40px 0px 0 150px;
}

#headline{
    color: white;
    background-color: black;
    width: 100%;
    height: 60px;
    padding: 6px;
    margin-bottom: 40px;
}

#btn{
    margin-top: 20px;
}


#result{
    width: 35%;
    height: 500px;
    float: left;
    margin-top: 40px;
    background-color: white;
}

#rhead1 , #rhead2, #rhead3{
    background-color: black;
    color: white;
    width: 100%;
    height: 45px;
    text-align: center;
}
 
#total{
    margin-bottom: 20px;
    font-size: 15px;
    height: 100px;
    width: 100%;
    padding: 20px;
    background-color: white;
}

#grade{
    background-color: white;
    height: 100px;
    width: 100%;
    padding: 20px;
}

#average{
    background-color: white;
    height: 100px;
    width: 100%;
    padding: 20px;
}
